/* General Styles */

body, html {
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

body {
    background-color: #4C1A5E;
    font-family: "IBM Plex Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* For background transition*/
    transition: background-color 1s ease, background-image 1s ease;
}

h1, h2, h3 {
    font-family: "Germania One", serif;
    font-weight: 400;
    font-style: normal;
}

#txt-container {
    transition: opacity 0.5s ease;
}

/* Button */
button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fec012;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px #7f6009;
    transition: all 0.2s ease;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
}

button:hover {
    transform: translateY(2px);
    box-shadow: 0 4px #7f6009;
}

button:active {
    transform: translateY(6px);
    box-shadow: none;
}

/* Sorting Hat Scene Img */
.sorting-image {
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

.hidden {
    display: none;
}

/* Animations */

.fade-up {
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
    opacity: 0; /* Initially hidden */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}